<div class="topics">
    <div class="topics__header">
      <h2>Active Athletes</h2>
      {% if Maintainer == True  or Editor == True %}
      <h3><a href = "{% url 'create-athlete'  %}" >Add Athlete</a></h3>
      {% endif %}
    </div>
    <ul class="topics__list">
      {% for athlete in active_athletes %}
      <div class="roomListRoom__header">
          <a href="{% url 'view-athlete' athlete.id %}">{{ athlete.Athlete }}</a>   {{athlete.Graduation}}
      </div>

      {% endfor %}
    </ul>
   

    <p></p>
    {% if Maintainer == True  or Editor == True %}
    <div class="topics__header">
      <h2>Inactive Athletes</h2>
     
    </div>
    <ul class="topics__list">
      {% for athlete in inactive_athletes %}
      <div class="roomListRoom__header">
          <a href="{% url 'view-athlete' athlete.id %}">{{ athlete.Athlete }}</a>   {{athlete.Graduation}}
      </div>

      {% endfor %}
    </ul>
    {% endif %}


</div>


