
<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 4px;
  }
  th {
    text-align: left;
  }
  </style>


{% for TopAthletes in TopAthletesMatrix %}





<div class="roomListRoom">
  
  
  {%  if forloop.counter == 1  %}
Men's Top Athlete Per Running Event
{% elif forloop.counter == 2  %}
Men's Top Athlete Per Field Event
{% elif forloop.counter == 3  %}
Women's Top Athlete Per Running Event
{% elif forloop.counter == 4 %}
Women's Top Athlete Per Field Event
{% endif %}
  
  
  
  
  <div class="roomListRoom__header">
    <table><tr>
      <th>Event</th>
      <th>Mark</th>
   
      <th>Athlete</th>
    </tr>
    
    {% for champion in TopAthletes %}
    
      <tr>
       
        <td> {{champion.EventName }}   </td>
        <td> {{champion.Mark}}  </td>
   
        <td> {{champion.Athletes}} </td> 
      </tr>
    </div>
    {% endfor %}
    </table>
          </div>

      
</div>

{% endfor %}




