

 <div class="roomListRoom">
    <div class="roomListRoom__header">
      <table><tr>
        <th>Event</th>
        <th>Mark</th>
        <th>Year</th>
        <th>Athlete</th>
      </tr>
      
      {% for champion in TopMaleField %}
      
        <tr>
         
          <td> {{champion.EventName }}   </td>
          <td> {{champion.Mark}}  </td>
          <td> {{champion.CY }} </td> 
          <td> {{champion.Athletes}} </td> 
        </tr>
      </div>
      {% endfor %}
      </table>
            </div>

        
</div>



<div class="roomListRoom">
  <div class="roomListRoom__header">
    <table><tr>
      <th>Event</th>
      <th>Mark</th>
      <th>Year</th>
      <th>Athlete</th>
    </tr>
    
    {% for champion in TopMaleRun %}
    
      <tr>
       
        <td> {{champion.EventName }}   </td>
        <td> {{champion.Mark}}  </td>
        <td> {{champion.CY }} </td> 
        <td> {{champion.Athletes}} </td> 
      </tr>
    </div>
    {% endfor %}
    </table>
          </div>

      
</div>





<div class="roomListRoom">
<div class="roomListRoom__header">
  <table><tr>
    <th>Event</th>
    <th>Mark</th>
    <th>Year</th>
    <th>Athlete</th>
  </tr>
  
  {% for champion in TopFemaleField %}
  
    <tr>
     
      <td> {{champion.EventName }}   </td>
      <td> {{champion.Mark}}  </td>
      <td> {{champion.CY }} </td> 
      <td> {{champion.Athletes}} </td> 
    </tr>
  </div>
  {% endfor %}
  </table>
</div>
</div>

<div class="roomListRoom">
  <div class="roomListRoom__header">
    <table><tr>
      <th>Event</th>
      <th>Mark</th>
      <th>Year</th>
      <th>Athlete</th>
    </tr>
    
    {% for champion in TopFemaleRun %}
    
      <tr>
       
        <td> {{champion.EventName }}   </td>
        <td> {{champion.Mark}}  </td>
        <td> {{champion.CY }} </td> 
        <td> {{champion.Athletes}} </td> 
      </tr>
    </div>
    {% endfor %}
    </table>
          </div>

      
</div>
