
<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 4px;
  }
  th {
    text-align: left;
  }
  </style>


  <div class="roomListRoom">
    <h1>Recent Updates</h1>
    <table>
    
    {% for performance in performance_newest_first %}
      <div class="roomListRoom__header">
        <tr>
        <td><a href="{% url 'update-performance' performance.id %}">{{ performance.AthleteID.all|join:", " }}</a></td>
        <td>{{performance.EventID.EventName }}</td>
        <td>{{ performance.Mark }}</td> 
        </tr>
      </div>

    {% endfor %}
    </table>  
  </div>
      
  

</div>




