{% extends 'main.html' %}

{% block content %}
    <main class="layout layout--3">
      <div class="container">
        <!-- Topics Start -->
        {% include 'base/leftmenu.html' %}
        <!-- Topics End -->

        <!-- Room List Start -->
      <div class="roomList">
          <div class="mobile-menu">
            <form action = "{% url 'home' %}" method ="GET" class="header__search">
              <label>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                  <title>search</title>
                  <path
                    d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z"
                  ></path>
                </svg>
                <input name = "qr" placeholder="Search for athletes" />
              </label>
            </form>
            {% comment %}
            <div class="mobile-menuItems">
              <a class="btn btn--main btn--pill" href="{% url 'home' %}?qr=Browse">Browse Events</a>
              <a class="btn btn--main btn--pill" href="{% url 'home' %}?qr=Recent">Recent Updates</a>
              <a class="btn btn--main btn--pill" href="{% url 'home' %}?qr=TopAthlete">Top Athletes</a>
            </div>
            {% endcomment %}
          </div>
          

          <div class="roomList__header">
            
            <div class="mobile-menuItems">
              <a class="btn btn--main btn--pill" href="{% url 'home' %}?qr=Browse">Browse Events</a>
              <a class="btn btn--main btn--pill" href="{% url 'home' %}?qr=Recent">Recent Updates</a>
              <a class="btn btn--main btn--pill" href="{% url 'home' %}?qr=TopAthlete">Top Athletes</a>
            </div>
          


       
              
     
          </div>



          {% if qr ==  "Browse" %}
            {% include 'base/events_component.html' %}
          {% elif qr == "Recent" %}
            {% include 'base/component_mobile_recent.html' %}
          {% elif qr == "TopAthlete" %}
            {% include 'base/component_mobile_topathlete.html' %}
          {%elif qr != '' %}
            
            {% for athlete in active_athletes %}
              <div class="roomListRoom__header">
                <a href="{% url 'view-athlete' athlete.id %}">{{ athlete.Athlete }}</a>   {{athlete.Graduation}}
              </div>
      
            {% endfor %}

          {% endif %}

          

         


       

          {% if q == 'Meets' %}
              {% include 'base/meets_component.html' %}
          {% elif q == 'ActiveAthletes'   %}
            {% include 'base/active_athletes.html' %}
          {% elif q == 'StateChamps'  %}
            {% include 'base/statechampion_component.html' %}
          {% elif q == 'TopAthlete'  %}
            {% include 'base/component_topathlete.html' %}
          {% elif q != ''  %}
            {% include 'base/events_component.html' %}
          {% endif %}
      </div>
        <!-- Room List End -->

        <!-- Activities Start -->
      
        {% include 'base/recentperformance_component.html' %}
        <!-- Activities End -->
      </div>
    </main>

{% endblock content %}