<div class="topics">
    <div class="topics__header">
      <h2>Recent Updates</h2>
    </div>
    <ul class="topics__list">

      {% for performance in performance_newest_first %}
      <div class="roomListRoom__header">
        <a href="{% url 'update-performance' performance.id %}">{{ performance.AthleteID.all|join:", " }}</a> - {{performance.EventID.EventName }} {{ performance.Mark }}
       
      </div>

      {% endfor %}
  
    </ul>
  
    <div class="topics__header">
      <h2>Pending Approval</h2>
    </div>
    <ul class="topics__list">

      {% for performance in performance_needapproval %}
      <div class="roomListRoom__header">
        <a href="{% url 'update-performance' performance.id %}">{{ performance.AthleteID.all|join:", " }}</a> - {{performance.EventID.EventName }} {{ performance.Mark }}
       
      </div>

      {% endfor %}
  
    </ul>
  
  
  
    <a class="btn btn--link" href="">
      More
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <title>chevron-down</title>
        <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
      </svg>
    </a>
  </div>



