
<div class="roomListRoom">
<h1>State Champions</h1>
<div class="roomListRoom__header"></div>
<table><tr>
  <th>Athlete</th>
  <th>Mark</th>
  <th>Event</th>
  <th>Year</th>
</tr>

{% for champion in statechamps %}

  <tr>
    <td> {% for athlete in champion.AthleteID.all %}<a href ="{% url 'view-athlete' athlete.id %}">{{athlete.Athlete}} </a></p>{% endfor %} </td> 
    <td> {{champion.Mark }} </td>
    <td> {{champion.EventID }}</td>
    <td> {{champion.topMark }} </td> 
  </tr>
</div>
{% endfor %}


</table>



</div>




